@forward './theme/ThemeDark';
@forward './theme/ThemeLight';
@forward './reset';
@forward './variables';

::-webkit-scrollbar {
    height: 5px;
    width: 5px; /* Remove scrollbar space */
    background-color: var(--bg-secondary-color);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--warn-color);
    border-radius: 12px;
}

.main {
    padding: 0 240px;
}

@media screen and (width < 1200) {
    .main {
        padding: 0;
    }
}
