@forward './theme/ThemeDark';
@forward './theme/ThemeLight';
@forward './reset';
@forward './variables';

::-webkit-scrollbar {
    height: 2px;
    width: 2px; /* Remove scrollbar space */
    background-color: var(--bg-secondary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--warn-color);
}
