:root {
    --height: 100vh - 60px;
    --width: 100vw - 10px;

    // z-index:
    --z-index-modal: 10;

    // color
    --red-color: rgb(250 40 86);
    --green-color: #4f772d;
    --blue-color: #3e7bc1;

    // style
    --border: 1px dotted var(--bg-secondary-color);
}
