.DropDownMenuItem {
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding: 5px 10px;
    gap: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.description {
    font-size: 16px;
}

.icon {
    display: flex;
    font-size: 16px;
}
