.type {
    gap: 10px;
    text-transform: uppercase;
    font-weight: 900;

    .icon {
        margin-right: 5px;
        font-size: 24px;
        vertical-align: middle;
    }
}

.date {
    display: flex;
    flex-direction: column;

    .day {
        font-weight: 500;
    }

    .time {
        font-weight: 00;
        font-size: 12px;
        color: var(--secondary-color);
    }
}

.amount {
    display: flex;
    flex-direction: column;
    font-weight: 500;

    .coins {
        font-size: 12px;

        span {
            margin-right: 5px;
        }
    }
}

.typeBuy {
    color: var(--green-color);
}

.typeSell {
    color: var(--red-color);
}
