.Portfolio {
}

.info_Portfolio {
    margin-left: 50px;
    margin-bottom: 50px;
}
.name_Portfolio {
}
.price_Portfolio {
    font-size: var(--font-size-xl);
    font-weight: 800;
}
.price_change_Portfolio {
}
.chart {
    background: var(--bg-secondary-color);
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
}

.holdings {
}

.empty {
    user-select: none;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: var(--font-size-xl);
    color: var(--bg-secondary-color);
    font-weight: 800;
}
