.link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.symbol {
    text-transform: uppercase;
    color: var(--secondary-color);
}

.icon_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    .icon {
        height: 30px;
        width: 30px;
        fill: var(--inverted-bg-color);
    }

    span {
        margin-top: -5px;
        background-color: var(--bg-color);
    }
}
