.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 32px;
    background-color: var(--bg-secondary-color);
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .name {
        font-weight: 500;
    }

    .symbol {
        text-transform: uppercase;
        color: var(--secondary-color);
    }

    .coinInfo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .portfolioInfo {
        position: absolute;
        gap: 5px;
        bottom: -70px;
        right: -30px;

        .icon {
            fill: var(--bg-color);
            width: 200px;
            height: 200px;
        }
    }
}
