.coin {
    display: flex;
    padding: 10px 0px;
    margin-bottom: 10px;
    transition: 0.4s;
}

.name {
    display: flex;
    align-items: center;
    flex: 1;
    font-weight: 600;
    margin: 0 10px;
}

.market_cap_rank {
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex: 0.1;
    text-align: left;
}

.current_price {
    display: flex;
    align-items: center;
    flex: 0.5;
    text-align: right;
}
.price_change_percentage_24h {
    display: flex;
    align-items: center;
    flex: 0.5;
    text-align: right;
}
.market_cap {
    display: flex;
    align-items: center;
    margin-right: 50px;
    flex: 0.5;
    text-align: right;
}
