.AddTransaction {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2;
    margin-top: 10px;
}

.selectButton {
    margin: 20px 0;
}

.wrapperSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    .name {
        margin: 0 8px;
    }

    .symbol {
        text-transform: uppercase;
        color: var(--secondary-color);
        font-weight: 600;
    }
}

.input_wrapper {
    display: flex;
    justify-content: space-between;
}

.infoBox {
    margin-bottom: 30px;
}

.buttonAdd {
}
