.CreatePortfolioPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--height);
    width: var(--width);
    gap: 30px;
    overflow: hidden;
    position: relative;
}

.description {
    font-size: 56px;
    font-weight: 900;
    text-align: center;
}

.icon {
    color: var(--bg-secondary-color);
    position: absolute;
    font-size: 1000px;
    left: -210px;
    bottom: -210px;
    transform: rotate(30deg);
    z-index: -1;
}
