.CreatePortfolioPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);
    gap: 30px;
}

.description {
    font-size: 56px;
    font-weight: 900;
    text-align: center;
}
