.text {
    display: inline;
}

.currency::before {
    content: '$';
}

.percentages::after {
    content: '%';
}

.highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
}

.color_green {
    align-items: center;
    color: var(--green-color);
    font-weight: 900;
    position: relative;

    &.highlight {
        background-color: color-mix(in srgb, var(--green-color) 10%, transparent);
        padding: 5px;
        border-radius: 12px;
    }
}

.color_red {
    align-items: center;
    color: var(--red-color);
    font-weight: 900;
    position: relative;

    &.highlight {
        background-color: color-mix(in srgb, var(--red-color) 10%, transparent);
        padding: 5px;
        border-radius: 12px;
    }
}

.color_blue {
    align-items: center;
    color: var(--blue-color);
    font-weight: 900;
    position: relative;

    &.highlight {
        background-color: color-mix(in srgb, var(--blue-color) 10%, transparent);
        padding: 5px;
        border-radius: 12px;
    }
}
