.text {
    display: inline;
}

.currency::before {
    content: '$';
}

.percentages::after {
    content: '%';
}

.highlight_green {
    align-items: center;
    color: var(--green-color);
    font-weight: 900;
    position: relative;
}

.highlight_green::before {
    position: absolute;
    top: 0.4rem;
    left: -15px;
    content: '';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid var(--green-color);
}

.highlight_red {
    align-items: center;
    color: var(--red-color);
    font-weight: 900;
    position: relative;
}

.highlight_red::before {
    position: absolute;
    top: 0.4rem;
    left: -15px;
    content: '';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid var(--red-color);
}

.highlight_blue {
    align-items: center;
    color: var(--blue-color);
    font-weight: 900;
    position: relative;
}
