.ButtonPicker {
    position: relative;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10;

    span {
        display: flex;
    }
}

.item {
    position: absolute;
    top: 40px;
}
