.Actions {
    display: inline-block;
    position: relative;
}

.content {
    overflow: hidden;
    position: absolute;
    top: -50%;
    right: 40px;
    width: 250px;
    border: 1px solid color-mix(in srgb, var(--inverted-bg-color) 20%, transparent);
    border-radius: 5px;
    background-color: var(--bg-secondary-color);
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding: 4px;
}
