.CoinSorted {
    display: grid;
    align-items: center;
    text-align: start;
    grid-auto-flow: column;
    grid-template-columns: 40px 20% repeat(auto-fit, minmax(0, 1fr));
    padding: 20px;
    border-bottom: 1px dotted var(--bg-secondary-color);
    white-space: nowrap;

    :last-child {
        grid-column: -1;
        width: 40px;
    }
}

.btn,
.btnName {
    padding: 0;
    text-align: left;
}
