.PortfolioInfo {
    display: inline-flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px dotted var(--bg-secondary-color);
    padding: 20px;
}

.name_Portfolio {
    display: flex;

    .name {
        padding: 10px;
    }
}

.price_Portfolio {
    font-size: var(--font-size-xl);
    font-weight: 800;
}

.btnNewTransaction {
    margin-left: auto;
}
