.InputContent {
    position: relative;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
    letter-spacing: 0.5px;
}

.input {
    height: 40px;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    border-radius: 12px;
    padding: 0 10px;
}

.placeholder {
    position: absolute;
    bottom: 7px;
    left: 20px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
}

.badge {
    pointer-events: none;
    color: var(--secondary-color);
    position: absolute;
    font-size: 16px;
    right: 10px;
    bottom: 20px;
    transform: translateY(50%);
}
