.InputContent {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.info {
    position: absolute;
    top: -20px;
    display: flex;
    font-size: 16px;
    font-weight: 300;
    margin-left: 10px;
    letter-spacing: 0.5px;
}

.error {
    position: absolute;
    top: -22px;
    right: 10px;
    color: var(--red-color);
}

.input {
    line-height: 100px;
    height: 40px;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    border-radius: 12px;
    padding: 0 10px;
    border: 2px solid var(--inverted-primary-color);
}

.placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    pointer-events: none;
    white-space: nowrap;
}

.badge {
    position: absolute;
    pointer-events: none;
    color: var(--secondary-color);
    font-size: 16px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
