.coin {
    display: flex;
    padding: 10px 0px;
    background-color: var(--bg-secondary-color-opacity);
    transition: 0.4s;
    margin-bottom: 10px;
}

.coin:hover {
    background-color: var(--bg-color);
}

.name_container {
    display: flex;
    align-items: center;
    flex: 1;
}

.link {
    display: flex;
    align-items: center;
}

.name {
    font-weight: 600;
}

.image {
    margin-right: 15px;
}

.symbol {
    white-space: nowrap;
    color: var(--secondary-color);
}

.market_cap_rank {
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex: 0.1;
    text-align: left;
}

.current_price {
    display: flex;
    align-items: center;
    flex: 0.5;
    text-align: right;
}
.price_change_percentage_24h {
    display: flex;
    align-items: center;
    flex: 0.5;
    text-align: right;
}
.market_cap {
    display: flex;
    align-items: center;
    margin-right: 50px;
    flex: 0.5;
    text-align: right;
}
