.ButtonSelect {
    min-width: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dotted var(--bg-secondary-color);
    background-color: var(--bg-color);
    border-radius: 12px;
    padding: 5px 20px;
    gap: 10px;
}

.icon {
    display: flex;
    align-items: center;
}
