.header {
    width: 100%;
    height: 60px;
    background: var(--bg-color);
    display: flex;
    color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px dotted var(--bg-secondary-color);
}

.nav {
    display: flex;
    text-align: left;
}
