.CoinTablePortfolio {
    thead tr th:nth-child(1),
    tbody tr td:nth-child(1) {
        text-align: start;
    }
}

.empty {
    user-select: none;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: var(--font-size-xl);
    color: var(--bg-secondary-color);
    font-weight: 800;
}

.container {
    box-shadow: var(--shadow);
    border: (var(--border));
}

.loading {
    padding: 0;
}
