.CoinTablePortfolio {
    th,
    td {
        text-align: center;
        vertical-align: middle;
        padding: 10px;
    }

    th {
        text-align: center;
        border-bottom: var(--border);
    }
}

.tableHead {
    top: 0;
    position: sticky;
    background-color: var(--bg-color);
}

.wrapper {
    width: 100%;
    overflow-x: scroll;
}
