.input {
    border-bottom: 1px solid var(--inverted-bg-color);
}

.link {
    display: flex;
    font-size: var(--font-size-l);
    font-weight: 300;
}
.link:hover {
    background: var(--bg-secondary-color);
}

.symbol {
    margin-left: 10px;
    color: var(--inverted-primary-color);
    text-transform: uppercase;
}
