.Content {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    .sell {
        background-color: var(--red-color);
    }

    .buy {
        background-color: var(--green-color);
    }

    .btnChange,
    .total {
        margin-top: auto;
    }
}
