.selectButton {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-secondary-color);
    border-radius: 12px;
}
.wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
    user-select: none;
    cursor: pointer;
    border-radius: 12px;
    padding: 5px 10px;
}

.item_content {
    z-index: 2;
}

.swiper {
    position: absolute;
    width: 85%;
    height: 85%;
    border-radius: 12px;
    background-color: var(--warn-color);
}
