.CoinHistory {
    position: relative;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 32px;
        border: (var(--border));
        border-radius: 12px;
        padding: 20px;
        margin-bottom: 15px;

        .name {
            font-weight: 500;
        }

        .symbol {
            text-transform: uppercase;
            color: var(--secondary-color);
        }
    }

    .history {
        border: (var(--border));
        border-radius: 12px;
        padding: 20px;

        .history_title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
}

.btnBack {
    padding: 0;
    top: -15px;
    left: -15px;
    position: absolute;
    font-size: 32px;
}
