.infoBox {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    padding: 10px;

    .description {
        font-weight: 900;
        margin-right: 10px;
    }

    .value {
        font-weight: 300;
        color: var(--primary-color);
    }
}
