.PortfolioEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    inset: 0;
    z-index: -1;

    .icon {
        margin-top: 100px;
        font-size: 400px;
    }

    .title {
        font-size: 46px;
        font-weight: 900;
    }

    .description {
        font-size: 24px;
        margin-bottom: 30px;
        color: var(--secondary-color);
    }
}
