.ModalCreatePortfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.error {
    position: absolute;
    bottom: 40px;
    font-size: 12px;
    color: var(--red-color);
    font-weight: 900;
}
