.Coins {
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 90%;
}

.Btn {
    display: flex;
    gap: 5px;
}

.symbol {
    text-transform: uppercase;
    color: var(--secondary-color);
}
