.PortfolioInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: var(--border);
    padding: 10px 20px;
}

.userPortfolio {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.btn_wrapper {
    margin-left: auto;
}
