.holdings {
    .wrapper {
        color: var(--secondary-color);
        font-size: 12px;
    }

    span {
        text-transform: uppercase;
        margin-left: 5px;
    }
}

.profitLoss {
    display: inline-flex;
    flex-direction: column;

    .currency::before {
        content: none;
    }

    .percentages {
        font-size: 12px;
    }
}
