.highlight {
}

.currency::before {
    content: '$';
}

.percentages::after {
    content: '%';
}

.highlight_green {
    color: var(--green-color);
}

.highlight_red {
    color: var(--red-color);
}
