.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.description {
    margin-left: 10px;
}

.TextArea {
    background-color: var(--bg-secondary-color);
    border-radius: 12px;
    padding: 10px;
}

.charactersRemaining {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: var(--secondary-color);
    font-size: 12px;
}
